
<!doctype html>
<html lang="en" data-ng-app="BeMEAN">
<head>
  <meta charset="UTF-8">
  <title>Be MEAN</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <style>
    .wrapper {
      max-width: 600px;
      margin: 0 auto;
    }
  </style>
</head>

<body data-ng-controller="UserController as User">
  <div class="row wrapper">
    <h1>{{ User.titulo }}</h1>
    <p class="col s12">
      <label> Name:
        <input type="text" data-ng-model="form.User.name"> <br>
      </label>
      <label> Email:
        <input type="email" data-ng-model="form.User.email">
      </label>
    </p>
    <button data-ng-click="User.add(form.User)" class="btn btn-large green waves-effect waves-light col s12" type="submit" name="action">
      ADD USER
    </button>
    <span data-ng-init=" predicate = 'name' "></span>

    <table>
      <thead>
        <tr>
          <th colspan="{{ User.users.keyslength }}">
            <label>Busca: <input type="text" data-ng-model="searchUser"></label>
          </th>
        </tr>
        <tr>
          <th data-ng-repeat="(key, value) in User.users[0]">{{ key }}</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in User.users | orderBy:predicate | filter:searchUser ">
          <td data-ng-repeat="(key, value) in user">{{ value }}</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- row wrapper -->

  <script src="./../libs/angular.min.js"></script>
  <script>
    angular.module('BeMEAN', [])
      .controller('UserController', UserController);

    function UserController() {
      var vm = this;
      vm.titulo = 'BeMEAN - Usuarios';
      vm.users = [
        {name: 'Suissa', email: 'suissera@manoveio.com'}
      , {name: 'João', email: 'joao@macioesedoso.com'}
      , {name: 'Franciele', email: 'fran@quimica.com'}
      ];
      vm.users.keyslength = Object.keys(vm.users[0]).length;

      vm.add = add;
      function add(user) {
        console.log('user', user);
        vm.users.push(angular.copy(user));
      }
    }
  </script>
</body>
</html>
